.vantagens {
    background-color: #f2f2f2;
    padding: 2em 0;
    text-align: center;
    font-family: var(--fonte-principal);
    margin-bottom: 2em;

    h2 {
        font-size: 14px;
        line-height: 20px;
        padding: 0 4em;
        margin-top: 2em;
        color: var(--cinza-escuro);
        font-weight: 400;
    }

}

.cards {
    padding: 1em 1.8em;
    display: grid;
    grid-template-columns: 1fr 1fr;

    p {
        padding: 0 .3em;
        font-size: 13px;
        font-weight: 400;
    }

    &__card {
        margin: 1em 0;
    }
}