.colecoes {

    margin: 4em 0 1em 0;
    
    h1 {
        font-family: var(--fonte-principal);
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    }

    &__conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img {
            margin-bottom: 1em;
        }
    }
}